* {
    BG:    #1f1d2e;
    BGA:   #31748f;
    FG:    #e0def4;
    FGA:   #eb6f92;
    BDR:   #3e8fb0;
    SEL:   #191724;
    UGT:   #eb6f92;
    IMG:   #f6c177;
    OFF:   #524f67;
    ON:    #9ccfd8;
}
